<div id="print-orders" ng-init="init()">
	<header>
		<div class="container">
			<div class="row">
				<img class="img-responsive pull-left" ng-src="resources/img/4.png" alt="">
				<div class="pull-right">
					<ul class="list-unstyled">
						<li>Fecha del pedido: <strong>05/03/2015</strong></li>
						<li>Productos: <strong>45</strong></li>
						<li>Clientes: <strong>3</strong></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</header>
	<div class="container">
	    <div class="row">
        	<table class="table table-condensed">
			    <thead>
			        <tr>
			            <th>
			            	<span>
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	Cliente
			            </th>
			            <th>
			            	<span>
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	Productos
			            </th>
			            <th>
			            	<span>
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	Cantidad
			            </th>
			            <th>
			            	<span>
			            		<a href class="icn icn-arrow-up"></a>
			            		<a href class="icn icn-arrow-down"></a>
			            	</span>
			            	precio
			            </th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td rowspan="3"><strong>Mariana Lopez</strong></td>
			            <td>
			            	92384974 - Ultra Color Absolute Lápiz labial - Lápiz Labial FPS 15 Rojo pasión - Cosmética - Campaña 03/2015
			            	92384974 - Ultra Color Absolute Lápiz labial - Lápiz Labial FPS 15 Rojo pasión - Cosmética - Campaña 03/2015
			            </td>
			            <td>2</td>
			            <td>$79</td>
			        </tr>
			        <tr>
			            <td>
			            	92384974 - Ultra Color Absolute Lápiz labial - Lápiz Labial FPS 15 Rojo pasión - Cosmética - Campaña 03/2015
			            	92384974 - Ultra Color Absolute Lápiz labial - Lápiz Labial FPS 15 Rojo pasión - Cosmética - Campaña 03/2015
			            </td>
			            <td>2</td>
			            <td>$79</td>
			        </tr>
			        <tr>
			            <td>
			            	92384974 - Ultra Color Absolute Lápiz labial - Lápiz Labial FPS 15 Rojo pasión - Cosmética - Campaña 03/2015
			            	92384974 - Ultra Color Absolute Lápiz labial - Lápiz Labial FPS 15 Rojo pasión - Cosmética - Campaña 03/2015
			            </td>
			            <td>2</td>
			            <td>$79</td>
			        </tr>
			    </tbody>
			</table>
	    </div>
	</div>
</div>