<div class="modal-body clearfix" id="reseller" ng-controller="ResellerController">
    <h1>¿Eres una revendedora oficial?</h1>        
    <form class="form-validate" id="reseller-form">
        <div class="form-group">
            <label>¿De que ciudad eres?</label>
            <input type="text" class="form-control" name="city" data-rule-required="true">
        </div>
        <div class="form-group">
            <label>¿Cuál es tu código de área?</label>
            <input type="text" class="form-control" name="code" data-rule-required="true">
        </div>
    </form>
    <button class="btn-default pull-left" ng-click="cancel()">Cancel</button>
    <button class="btn-danger pull-right" ng-click="signUp()">Ingresar</button>
</div>